body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    flex-shrink: 0;
}

#news-close {
    cursor: pointer;
}

.content {
    flex: 1;
}

/*.map_container {}*/

.logo {
    color: white;
    text-shadow: 2px 2px 2px #000;
}

.news {
/*    position: absolute;
    top: 10px;*/
    border: 1px solid red;
}

.block {}
.block-close {
    cursor: pointer;
}

.mapael .zoomButton {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: 0;
    font-weight: bold;
    left: 10px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Reset Zoom button first */
.mapael .zoomReset {
    top: 10px;
}

/* Then Zoom In button */
.mapael .zoomIn {
    top: 30px;
}

/* Then Zoom Out button */
.mapael .zoomOut {
    top: 50px;
}

.mapael .mapTooltip {
    position: absolute;
    background-color: #474c4b;
    moz-opacity: 0.70;
    opacity: 0.70;
    filter: alpha(opacity=70);
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    max-width: 200px;
    display: none;
    color: #fff;
}