<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chota/chota.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
</head>

<body>
    <!-- start верхнее меню -->
    <div class="container">
        <header class="row">
            <div class="col-12">
                <nav class="nav">
                    <div class="nav-left">
                        <a class="brand text-white logo" href="/">GEONEWS</a>
                    </div>
                    <div class="tabs hide-xs hide-sm">
                        <a id="link-1" href="">About</a>
                        <a id="link-2" href="">Random News</a>
                        <a id="link-3" href="">Our Mission</a>
                        <a id="link-4" href="">Contacts Us</a>
                        <a id="link-5" href="">We Wont Do It</a>
                    </div>
                    <div class="nav-right">
                        <!--  -->
                    </div>
                </nav>
            </div>
        </header>
        <hr>
    </div>
    <!-- end верхнее меню -->

    <!-- start карта -->
    <div id="map-container" class="container content" style="margin-top: 50px;">
        <div class="map_container">
            <div class="map text-center">...</div>
        </div>
    </div>
    <!-- end карта -->

    <!-- start блок с новостями -->
    <div id="news-container" class="container content" style="display: none;">
        <div class="card">
            <div class="is-right">
                <img id="news-close" width="30" src="{{ url_for('static', filename='img/svg/delete.svg') }}" alt="close">
            </div>
            <h3 class="">window for news</h3>
            <div id="news-content"></div>
        </div>
    </div>
    <!-- end блок с новостями -->

    <!-- start блок 1-->
    <div id="block-1" class="container content block" style="display: none;">
        <div class="card">
            <div class="is-right">
                <img data-block="1" class="block-close" width="30" src="{{ url_for('static', filename='img/svg/delete.svg') }}" alt="close">
            </div>
            <h3 class="block_content">
            
                <h1>Данный ресурс предназначен для ознокомления с основными заголовками СМИ.</h1><br><br>
                Мы в автоматическом режиме собираем новости с многочисленных интернет ресурсов, агригируем их, обрабатываем, сортируем и предлагаем пользователю настроить под себя новостную выдачу. <br><br> Также мы предложим возможность сравнить новости разных новостных ресурсов, найти противоречивые новости, посмотреть архив новостей. Мы предложим новостную аналитику по многим параметрам. <br> Мы даём информацию, получая новости. 
            
            </h3>
            <p>...</p>
        </div>
    </div>
    <!-- end блок 1-->

    <!-- start блок 2-->
    <div id="block-2" class="container content block" style="display: none;">
        <div class="card">
            <div class="is-right">
                <img data-block="2" class="block-close" width="30" src="{{ url_for('static', filename='img/svg/delete.svg') }}" alt="close">
            </div>
            <h3 class="">block 2</h3>
            <p>...</p>
        </div>
    </div>
    <!-- end блок 2-->

    <!-- start блок 3-->
    <div id="block-3" class="container content block" style="display: none;">
        <div class="card">
            <div class="is-right">
                <img data-block="3" class="block-close" width="30" src="{{ url_for('static', filename='img/svg/delete.svg') }}" alt="close">
            </div>
            <h3 class="">block 3</h3>
            <p>...</p>
        </div>
    </div>
    <!-- end блок 3-->

    <!-- start блок 4-->
    <div id="block-4" class="container content block" style="display: none;">
        <div class="card">
            <div class="is-right">
                <img data-block="4" class="block-close" width="30" src="{{ url_for('static', filename='img/svg/delete.svg') }}" alt="close">
            </div>
            <h3 class="">block 4</h3>
            <p>...</p>
        </div>
    </div>
    <!-- end блок 4-->

    <!-- start блок 5-->
    <div id="block-5" class="container content block" style="display: none;">
        <div class="card">
            <div class="is-right">
                <img data-block="5" class="block-close" width="30" src="{{ url_for('static', filename='img/svg/delete.svg') }}" alt="close">
            </div>
            <h3 class="block_content">
                
                <h1>Мы развиваем свой продукт:</h1><br><br>
                - запустить телеграмм бота который спрашивает пользователя - Показать вам новости? и если пользователь  пишет ДА - выдаёт 5 новостей в чат. <br>
                - добавить ещё одну кликабельную страну, которая покажет контент при её выборе. итого будет 2 кликабельные страны - Россия и следующая <br>
                - проработать страницы ссылок которые в шапке. 5 ссылок 5 html страниц <br>
                - разработка базы данных для сбора новостей. Надо обсудить. (MySQL) <br>
                - категоризация новостей. Проумать список категорий. 
                
            </h3>
            <p>...</p>
        </div>
    </div>
    <!-- end блок 5-->

    <!-- start подвал страницы -->
    <div class="container mt-50">
        <footer class="row footer">
            <div class="col-12">
                <hr>
                <div class="text-center">
                    <script>
                    document.write("©" + window.location.host + " " + (new Date().getFullYear()));
                    </script>
                </div>
            </div>
        </footer>
    </div>
    <!-- end подвал страницы -->
    
    <script src="{{ url_for('static', filename='js/maps/jquery.mapael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/maps/world_countries.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
