<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chota/chota.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
</head>

<body>
    <!-- start верхнее меню -->
    <div class="container">
        <header class="row">
            <div class="col-12">
                <nav class="nav">
                    <div class="nav-left">
                        <a class="brand text-white logo" href="/">GEONEWS</a>
                    </div>
                    <div class="tabs hide-xs hide-sm">
                        <a href="/">link</a>
                        <a href="/">link</a>
                        <a href="/">link</a>
                        <a href="/">link</a>
                        <a href="/">link</a>
                    </div>
                    <div class="nav-right">
                        <!--  -->
                    </div>
                </nav>
            </div>
        </header>
        <hr>
    </div>
    <!-- end верхнее меню -->

    <!-- start карта -->
    <div id="map-container" class="container content" style="margin-top: 50px;">
        <div class="map_container">
            <div class="map text-center">...</div>
        </div>
    </div>
    <!-- end карта -->

    <!-- start блок с новостями -->
    <div id="news-container" class="container content" style="display: none;">
        <div class="card">
            <div class="is-right">
                <img id="news-close" width="30" src="{{ url_for('static', filename='img/svg/delete.svg') }}" alt="close">
            </div>
            <h3 class="">window for news</h3>
            <div id="news-content"></div>
        </div>
    </div>
    <!-- end блок с новостями -->

    <!-- start подвал страницы -->
    <div class="container mt-50">
        <footer class="row footer">
            <div class="col-12">
                <hr>
                <div class="text-center">
                    <script>
                    document.write("©" + window.location.host + " " + (new Date().getFullYear()));
                    </script>
                </div>
            </div>
        </footer>
    </div>
    <!-- end подвал страницы -->
    
    <script src="{{ url_for('static', filename='js/maps/jquery.mapael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/maps/world_countries.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>